Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

feat: some content cleanup
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/highlight.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  crates/oubli/src/lib.rs
  website/content/docs/content.md
  website/content/docs/routing.md
  website/src/routes/docs.rs
Labels: website, crt:maudit, crt:oubli, crt:macros

fix: try something
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

fix: pass theme
  crates/maudit/src/content/markdown.rs
  website/content/docs/performance.md
  website/src/content.rs
Labels: website, crt:maudit

feat: experiment with more ergonomic pagination (#42)
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/highlight.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  crates/oubli/src/lib.rs
  website/content/docs/content.md
  website/content/docs/performance.md
  website/content/docs/routing.md
  website/src/content.rs
  website/src/routes/docs.rs
Labels: website, crt:maudit, crt:oubli, crt:macros

feat: add support for Maud 0.27.0
  Cargo.lock
  Cargo.toml
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/library/Cargo.toml
  examples/markdown-components/Cargo.toml
Labels: examples

fix: we say this work?
  CONTRIBUTING.md
  crates/maudit-cli/build.rs
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

ci: update action workflow
  .github/workflows/release.yml
Labels: devops

ci: oops
  .github/workflows/release.yml
Labels: devops

ci: try making Netlify cache work
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: none

refactor: remove website from monorepo
  CONTRIBUTING.md
  netlify.toml
  package.json
  website/Cargo.toml
  website/assets/bsky.svg
  website/assets/discord.svg
  website/assets/github.svg
  website/assets/logo.svg
  website/assets/prin.css
  website/assets/wax-seal.svg
  website/content/docs/content.md
  website/content/docs/entrypoint.md
  website/content/docs/images.md
  website/content/docs/index.md
  website/content/docs/installation.md
  website/content/docs/javascript.md
  website/content/docs/library.md
  website/content/docs/manual-install.md
  website/content/docs/performance.md
  website/content/docs/philosophy.md
  website/content/docs/quick-start.md
  website/content/docs/routing.md
  website/content/docs/styling.md
  website/content/docs/templating.md
  website/content/news/01-performance.png
  website/content/news/maudit01.md
  website/src/content.rs
  website/src/layout.rs
  website/src/layout/docs_sidebars.rs
  website/src/layout/header.rs
  website/src/main.rs
  website/src/routes/404.rs
  website/src/routes/chat.rs
  website/src/routes/contribute.rs
  website/src/routes/docs.rs
  website/src/routes/index.rs
  website/src/routes/mod.rs
  website/src/routes/news.rs
  website/static/favicon.svg
Labels: website

fix: cli hot reloading not working
  .sampo/changesets/forthright-king-ilmatar.md
  crates/maudit-cli/src/dev/js/client.ts
  crates/maudit-cli/src/dev/js/vendor/README.md
  crates/maudit-cli/src/dev/js/vendor/ansi_up.d.ts
  crates/maudit-cli/src/dev/js/vendor/ansi_up.js
  package.json
  pnpm-lock.yaml
Labels: crt:cli

feat: opengraph on website
  .sampo/changesets/bold-knight-aino.md
  assets/README.md
  assets/logo.svg
  assets/logo_light.svg
  assets/social-image.svg
  crates/maudit-cli/src/dev.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/route.rs
  examples/library/src/build.rs
  examples/library/src/main.rs
  website/content/docs/library.md
  website/src/layout.rs
  website/src/layout/docs_sidebars.rs
  website/src/main.rs
  website/src/routes/404.rs
  website/src/routes/contribute.rs
  website/src/routes/docs.rs
  website/src/routes/index.rs
  website/src/routes/news.rs
  website/static/social-image.png
Labels: website, examples, crt:maudit, crt:cli

fix(website): Smaller images
  website/src/layout.rs
Labels: website

feat(website): some sort of mobile theme
  website/assets/close.svg
  website/assets/hamburger.svg
  website/assets/prin.css
  website/assets/side-menu.svg
  website/assets/toc.svg
  website/content/docs/javascript.md
  website/content/docs/styling.md
  website/content/docs/templating.md
  website/src/layout.rs
  website/src/layout/docs_sidebars.rs
  website/src/layout/header.rs
  website/src/routes/docs.rs
  website/src/routes/news.rs
Labels: website

refactor: bundle scripts
  website/assets/docs-sidebar.ts
  website/assets/mobile-menu.ts
  website/src/layout.rs
  website/src/layout/header.rs
Labels: website

fix: ci
  .github/workflows/ci.yaml
Labels: devops

refactor: rename benchmarks
  benchmarks/md-benchmark/benches/build.rs
  benchmarks/overhead/benches/build.rs
  benchmarks/realistic-blog/benches/build.rs
Labels: none

fix: test for escaped shortcodes
  crates/maudit/src/content/markdown/shortcodes_tests.rs
Labels: crt:maudit

ci: don't build in tests
  .github/workflows/ci.yaml
Labels: devops

refactor: try some perf stuff
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

fix: eh
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: oops
  crates/maudit/src/build.rs
Labels: crt:maudit

refactor: separate tailwind plugin (#46)
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

feat: make it easier to highlight code outside of markdown rendering
  benchmarks/md-benchmark/benches/build.rs
  benchmarks/md-benchmark/src/lib.rs
  benchmarks/md-benchmark/src/main.rs
  benchmarks/overhead/README.md
  benchmarks/realistic-blog/README.md
  crates/maudit/src/content.rs
  crates/maudit/src/content/highlight.rs
  crates/maudit/src/content/markdown.rs
  website/src/routes/index.rs
Labels: website, crt:maudit

perf: try out caching more things
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/maudit/src/routing.rs
  crates/maudit/src/templating/maud_ext.rs
  examples/kitchen-sink/src/routes/index.rs
  website/content/docs/content.md
Labels: website, examples, crt:maudit

fix: trying some things
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
  crates/maudit/src/routing.rs
Labels: crt:maudit

fix: make it simpler
  crates/maudit/src/route.rs
Labels: crt:maudit

fix: comment
  crates/maudit/src/route.rs
Labels: crt:maudit

perf: try out caching more things (#47)
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/maudit/src/routing.rs
  crates/maudit/src/templating/maud_ext.rs
  examples/kitchen-sink/src/routes/index.rs
  website/content/docs/content.md
Labels: website, examples, crt:maudit

feat: some docs work
  crates/maudit/src/content.rs
  examples/README.md
  package.json
  pnpm-lock.yaml
  website/assets/prin.css
  website/content/docs/content.md
  website/content/docs/entrypoint.md
  website/content/docs/images.md
  website/content/docs/library.md
  website/content/docs/manual-install.md
  website/content/docs/templating.md
  website/src/layout.rs
  website/static/favicon.svg
Labels: website, examples, crt:maudit

feat: update to latest rolldown
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  website/src/routes/index.rs
Labels: website, crt:maudit

fix: avoid having two rolldown versions
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/build.rs
Labels: crt:cli

chore: changeset
  .sampo/changesets/ardent-seer-tapio.md
  .sampo/changesets/fearless-warden-tuoni.md
  .sampo/changesets/pompous-witch-marjatta.md
  .sampo/changesets/stern-runesmith-aurelien.md
  .sampo/changesets/sullen-witch-ahti.md
  website/src/routes/index.rs
Labels: website

small docs fixes
  website/content/docs/manual-install.md
  website/content/docs/quick-start.md
Labels: website

small docs fixes (#48)
  website/content/docs/manual-install.md
  website/content/docs/quick-start.md
Labels: website

feat: a lot of docs fixes
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/library/Cargo.toml
  examples/markdown-components/Cargo.toml
  website/assets/prin.css
  website/content/docs/content.md
  website/content/docs/installation.md
  website/content/docs/javascript.md
  website/content/docs/performance.md
  website/content/docs/routing.md
  website/content/docs/styling.md
  website/content/docs/templating.md
  website/src/layout.rs
  website/src/layout/header.rs
Labels: website, examples

fix: highlight current link in docs sidebar
  website/src/layout/docs_sidebars.rs
  website/src/routes/docs.rs
Labels: website

feat: new RenderWithAlt trait
  .sampo/changesets/ancient-guardian-tuulikki.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/route.rs
  crates/maudit/src/templating/maud_ext.rs
  examples/basics/src/main.rs
  examples/basics/src/routes/index.rs
  examples/image-processing/src/main.rs
  examples/image-processing/src/routes/index.rs
  examples/kitchen-sink/src/main.rs
  examples/kitchen-sink/src/routes/dynamic.rs
  examples/kitchen-sink/src/routes/index.rs
  examples/oubli-basics/src/main.rs
  examples/oubli-basics/src/routes/index.rs
  website/content/docs/entrypoint.md
  website/content/docs/images.md
Labels: website, examples, crt:maudit

fix: update library example to use new trait
  .sampo/changesets/wily-guardian-marjatta.md
  Cargo.toml
  crates/maudit/Cargo.toml
  examples/library/src/routes/index.rs
  website/content/docs/installation.md
Labels: website, examples, crt:maudit

fix: doctest
  crates/maudit/src/route.rs
Labels: crt:maudit

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile
