Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

fix: lint
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/headers_file.rs
  crates/maudit/src/routing.rs
Labels: crt:maudit, crt:cli

feat: new type for assets urls and paths
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/asset_url.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  examples/library/src/build.rs
  website/content/docs/library.md
Labels: website, examples, crt:maudit

docs: refresh contributor guides
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  crates/maudit-cli/README.md
  crates/maudit-macros/README.md
  website/content/news/maudit-library.md
Labels: website, crt:cli, crt:macros, devops

feat: use Rolldown 1.0
  .sampo/changesets/doughty-lord-vainamoinen.md
  Cargo.lock
  crates/maudit/Cargo.toml
  xtask/Cargo.toml
Labels: crt:maudit

fix: update msrv
  .sampo/changesets/valorous-lady-tuonetar.md
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/headers_file.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/routing.rs
Labels: crt:maudit, crt:cli

feat: rework bundling
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
Labels: crt:maudit

fix: thing
  .sampo/config.toml
  crates/maudit-cli/src/dev/server.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/css.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/route.rs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/hot-reload.spec.ts
  e2e/tests/test-utils.ts
  pnpm-lock.yaml
Labels: crt:maudit, crt:cli

feat: new type for assets urls and paths
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/asset_url.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  examples/library/src/build.rs
  website/content/docs/library.md
Labels: website, examples, crt:maudit

chore: remove newtype
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/asset_url.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  examples/library/src/build.rs
Labels: examples, crt:maudit

test: css test
  crates/maudit/src/assets/css.rs
Labels: crt:maudit

fix: tweaks
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/tests/incremental.rs
  website/content/docs/library.md
Labels: website, crt:maudit

chore: changeset
  .sampo/changesets/cunning-baron-lempo.md
Labels: none

feat: rework bundling (#101)
  .sampo/changesets/cunning-baron-lempo.md
  .sampo/config.toml
  Cargo.lock
  crates/maudit-cli/src/dev/server.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/css.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  crates/maudit/tests/incremental.rs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/hot-reload.spec.ts
  e2e/tests/test-utils.ts
  pnpm-lock.yaml
Labels: crt:maudit, crt:cli

feat: rework intended_Version
  .sampo/changesets/keen-templeward-vellamo.md
  crates/maudit-cli/src/init.rs
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/i18n/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/library/Cargo.toml
  examples/markdown-components/Cargo.toml
  examples/runtime-to-the-max/Cargo.toml
Labels: examples, crt:cli

fix: reuse transformed images across dev and prod builds
  .sampo/changesets/plenty-images-reuse-cache.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
Labels: crt:maudit

chore(deps): update pnpm to v11
  package.json
  pnpm-workspace.yaml
Labels: none

chore(fix): check script
  e2e/playwright.config.ts
  e2e/tests/prefetch.spec.ts
  e2e/tsconfig.json
  package.json
  tsconfig.check.json
Labels: none

feat: add OpenGraph image generation
  .sampo/changesets/radiant-crownwright-ilmatar.md
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/opengraph.rs
  crates/maudit/src/errors.rs
  crates/maudit/src/route.rs
  crates/maudit/src/templating/maud_ext.rs
  examples/kitchen-sink/src/routes/index.rs
Labels: examples, crt:maudit

feat: resolve OpenGraph image URL against base_url
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/opengraph.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

feat: require base_url for OpenGraph images
  .sampo/changesets/radiant-crownwright-ilmatar.md
  crates/maudit/src/assets/opengraph.rs
  examples/kitchen-sink/src/main.rs
Labels: examples, crt:maudit

feat: accept an Image as an OpenGraph image source
  .sampo/changesets/radiant-crownwright-ilmatar.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/opengraph.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

perf: cache OpenGraph image rendering and fix correctness issues
  .sampo/changesets/radiant-crownwright-ilmatar.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/opengraph.rs
  crates/maudit/src/route.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: format
  CONTRIBUTING.md
  README.md
  crates/maudit-cli/src/dev/build.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/route.rs
Labels: crt:maudit, crt:cli

fix: satisfy clippy useless_borrows_in_formatting
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

chore: declare rust-version for maudit-cli, maudit-macros and oubli
  crates/maudit-cli/Cargo.toml
  crates/maudit-macros/Cargo.toml
  crates/oubli/Cargo.toml
Labels: crt:oubli, crt:cli, crt:macros

chore: add changeset for MSRV declaration
  .sampo/changesets/msrv-declaration.md
Labels: none

feat: make the og_image feature opt-in
  .sampo/changesets/radiant-crownwright-ilmatar.md
  crates/maudit/Cargo.toml
  crates/maudit/src/assets/opengraph.rs
  examples/kitchen-sink/Cargo.toml
Labels: examples, crt:maudit

docs: add OpenGraph images page
  website/content/docs/opengraph.md
Labels: website

ci: run tests with all features
  .github/workflows/ci.yaml
Labels: devops

fix(bundling): Rebundle when an imported script or style dependency changes
  .sampo/changesets/steadfast-weaver-ilmatar.md
  crates/maudit/src/assets/css.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

chore(bundling): Trim comments to why-only
  crates/maudit/src/assets/css.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
Labels: crt:maudit

fix(bundling): Rebundle when an imported script or style dependency changes (#110)
  .sampo/changesets/steadfast-weaver-ilmatar.md
  crates/maudit/src/assets/css.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

feat(build): add BuildValue for values computed once per build
  .sampo/changesets/nifty-build-values.md
  crates/maudit/src/build.rs
  crates/maudit/src/build_value.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/content/tracked.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/maudit/tests/incremental.rs
  examples/library/src/build.rs
  website/content/docs/build-values.md
Labels: website, examples, crt:maudit

fix(dev): keep static files fresh in the dev server
  .sampo/changesets/shrewd-dawnrunner-mielikki.md
  .sampo/changesets/valiant-pathwarden-ahti.md
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  e2e/fixtures/hot-reload/static/asset.txt
  e2e/tests/hot-reload.spec.ts
Labels: crt:cli

fix(dev): keep static files fresh in the dev server (#113)
  .sampo/changesets/shrewd-dawnrunner-mielikki.md
  .sampo/changesets/valiant-pathwarden-ahti.md
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  e2e/fixtures/hot-reload/static/asset.txt
  e2e/tests/hot-reload.spec.ts
Labels: crt:cli

chore(deps): update Rolldown to 1.2.4
  .sampo/changesets/update-rolldown.md
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit/Cargo.toml
  xtask/Cargo.toml
Labels: crt:maudit, crt:cli

ci: pin Rust toolchain to 1.97.1
  rust-toolchain.toml
Labels: none

fix(dev): drop redundant reference in live-reload address format
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

ci: pin Rust toolchain and fix clippy error blocking CI (#115)
  crates/maudit-cli/src/dev/server.rs
  rust-toolchain.toml
Labels: crt:cli

chore(deps): update Rolldown to 1.2.4 (#114)
  .sampo/changesets/update-rolldown.md
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit/Cargo.toml
  xtask/Cargo.toml
Labels: crt:maudit, crt:cli

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile
