Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile

feat: perf thing agian
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

fix: another thing
  crates/maudit/src/route.rs
Labels: crt:maudit

fix: hash map for content
  crates/maudit/src/content.rs
  crates/maudit/src/content/tracked.rs
Labels: crt:maudit

fix: build
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  website/src/layout/docs_sidebars.rs
Labels: website

fix: path
  crates/maudit/src/route.rs
Labels: crt:maudit

feat: add way to always rebuild a route
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit, crt:macros

Add RSS 2.0 and Atom 1.0 feed support
  crates/maudit/src/feed.rs
  crates/maudit/src/lib.rs
  examples/blog/src/main.rs
  examples/blog/src/routes/feed.rs
Labels: examples, crt:maudit

feat: merge image cache and build cache
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/tracked.rs
  crates/maudit/src/logging.rs
  crates/maudit/tests/incremental.rs
  crates/oubli/src/lib.rs
  website/content/docs/content.md
Labels: website, crt:maudit, crt:oubli

fix: some bugs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/logging.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: lint
  benchmarks/incremental/benches/build.rs
  benchmarks/md-benchmark/benches/build.rs
  benchmarks/overhead/benches/build.rs
  benchmarks/realistic-blog/benches/build.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: test perhaps
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: perf
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: perf
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: everything
  crates/maudit-cli/src/dev/build.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/tracked.rs
  crates/maudit/tests/incremental.rs
  examples/library/src/build.rs
Labels: examples, crt:maudit, crt:cli

fix: reuse route assets
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: remove duplicate ifs
  crates/maudit/src/build/cache.rs
Labels: crt:maudit

feat: add graphgarden
  Cargo.lock
  website/Cargo.toml
  website/content/news/maudit01.md
  website/src/layout.rs
  website/src/layout/docs_sidebars.rs
  website/src/layout/header.rs
  website/src/main.rs
Labels: website

fix(website): Fix missing headers
  website/static/_headers
Labels: website

fix: add missing trailing slashes to links
  CONTRIBUTING.md
  README.md
  website/content/docs/library.md
  website/content/docs/manual-install.md
  website/content/docs/routing.md
  website/content/news/maudit01.md
  website/src/main.rs
  website/src/routes/news.rs
Labels: website

fix(website): broken links
  website/content/docs/entrypoint.md
  website/content/news/2026-in-the-cursed-lands.md
  website/content/news/maudit-library.md
  website/src/routes/index.rs
Labels: website

feat: cache more stuff
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

feat: try caching hashes
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  examples/library/src/build.rs
  website/content/docs/library.md
Labels: website, examples, crt:maudit

fix: lint
  crates/maudit/src/assets.rs
Labels: crt:maudit

feat: some stuff idk
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/content/tracked.rs
  crates/maudit/src/route.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit, crt:macros

fix: rework placeholders
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
Labels: crt:maudit

chore: minor tweaks
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat(fonts): Add support for fonts
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/fonts.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  website/assets/prin.css
  website/src/main.rs
Labels: website, crt:maudit

chore: adjust some stuff
  crates/maudit-cli/src/dev/dep_tracker.rs
  crates/maudit/src/content.rs
  crates/maudit/src/route.rs
  website/assets/prin.css
  website/content/docs/content.md
Labels: website, crt:maudit, crt:cli

chore: changeset
  .sampo/changesets/cranky-sage-tursas.md
  .sampo/changesets/somber-warden-aurelien.md
  .sampo/changesets/stalwart-stormcaller-vipunen.md
  .sampo/config.toml
  crates/maudit/src/build.rs
Labels: crt:maudit

chore: some fixes
  .sampo/changesets/cranky-sage-tursas.md
  crates/maudit-cli/src/dev/build.rs
  crates/maudit/src/build/options.rs
  website/content/docs/content.md
Labels: website, crt:maudit, crt:cli

feat(css): Handle bundling CSS ourselves
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/css.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  xtask/Cargo.toml
Labels: crt:maudit

chore: changeset
  .sampo/changesets/haughty-forgemaster-aurelien.md
Labels: none

fix: random things
  crates/maudit/src/assets/css.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/errors.rs
Labels: crt:maudit

feat(css): Handle bundling CSS ourselves (#98)
  .sampo/changesets/haughty-forgemaster-aurelien.md
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/css.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/errors.rs
  xtask/Cargo.toml
Labels: crt:maudit

fix(bundling): Resolve tsconfig.json from the user's directory
  .sampo/changesets/dashing-windweaver-tuulikki.md
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
Labels: crt:maudit

Add documentation review identifying outdated/missing docs
  DOCS_REVIEW.md
Labels: none

feat(bundling): Enable Rolldown's resolve_new_url_to_asset by default
  .sampo/changesets/steadfast-iceseeker-akka.md
  crates/maudit/src/build.rs
Labels: crt:maudit

feat(dev): Add support for _headers files in development
  .sampo/changesets/somber-runesmith-ilmarinen.md
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/headers_file.rs
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

feat: rework bundling
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
Labels: crt:maudit

fix: thing
  .sampo/config.toml
  crates/maudit-cli/src/dev/server.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/css.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/route.rs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/hot-reload.spec.ts
  e2e/tests/test-utils.ts
  pnpm-lock.yaml
Labels: crt:maudit, crt:cli
