Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile

fix: use a cleaner pattern for locales
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/route.rs
  examples/i18n/src/main.rs
  examples/i18n/src/routes/about.rs
  examples/i18n/src/routes/articles.rs
  examples/i18n/src/routes/contact.rs
  examples/i18n/src/routes/index.rs
  examples/i18n/src/routes/mixed.rs
  examples/i18n/src/routes/mod.rs
Labels: examples, crt:maudit, crt:macros

fix: cleanup macro
  crates/maudit-macros/src/lib.rs
  examples/i18n/src/routes/wrong_order.rs.test
  examples/i18n/test_errors.txt
Labels: examples, crt:macros

fix: some protgress
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
Labels: crt:maudit, crt:macros

fix: rework build
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: logging
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: whatever I guess
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: logs
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: misc
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
Labels: crt:maudit, crt:macros

fix: cleanup and docs
  examples/i18n/src/main.rs
  examples/i18n/src/routes/contact.rs
  examples/i18n/src/routes/index.rs
  examples/i18n/src/routes/mixed.rs
  examples/i18n/src/routes/mod.rs
  examples/i18n/src/routes/wrong_order.rs.test
  website/content/docs/routing.md
Labels: website, examples

fix: update library example
  crates/maudit/src/lib.rs
  examples/library/src/build.rs
  website/content/docs/library.md
Labels: website, examples, crt:maudit

chore: changeset
  .sampo/changesets/pompous-prince-sampsa.md
Labels: none

feat(routing): Add support for route variants to power i18n (#77)
  .sampo/changesets/pompous-prince-sampsa.md
  Cargo.lock
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/maudit/src/routing.rs
  examples/i18n/.gitignore
  examples/i18n/Cargo.toml
  examples/i18n/README.md
  examples/i18n/src/layout.rs
  examples/i18n/src/main.rs
  examples/i18n/src/routes/about.rs
  examples/i18n/src/routes/articles.rs
  examples/i18n/src/routes/contact.rs
  examples/i18n/src/routes/index.rs
  examples/i18n/src/routes/mod.rs
  examples/i18n/test_errors.txt
  examples/library/src/build.rs
  website/content/docs/library.md
  website/content/docs/routing.md
Labels: website, examples, crt:maudit, crt:macros

chore: changeset
  .sampo/changesets/doughty-forgemaster-ahti.md
Labels: none

feat: adds support for generating sitemaps
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/maudit/src/sitemap.rs
Labels: crt:maudit, crt:macros

feat: some cleanup
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/sitemap.rs
Labels: crt:maudit

fix: normalize base urls before adding tos itemaps
  crates/maudit/src/build.rs
  crates/maudit/src/sitemap.rs
Labels: crt:maudit

fix: dynamic route timings
  crates/maudit/src/build.rs
Labels: crt:maudit

chore: changeset
  .sampo/changesets/haughty-duchess-otso.md
  .sampo/changesets/regal-princess-lemminkainen.md
Labels: none

chore: changeset
  .sampo/changesets/regal-princess-lemminkainen.md
Labels: none

feat: adds support for generating sitemaps (#80)
  .sampo/changesets/haughty-duchess-otso.md
  .sampo/changesets/regal-princess-lemminkainen.md
  Cargo.lock
  crates/maudit-macros/src/lib.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/maudit/src/sitemap.rs
Labels: crt:maudit, crt:macros

feat: create a proper setup for JavaScript code in the repo
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/build.rs
  crates/maudit-cli/js/client.ts
  crates/maudit-cli/js/overlay.ts
  crates/maudit-cli/js/utils.ts
  crates/maudit-cli/package.json
  crates/maudit-cli/pnpm-lock.yaml
  crates/maudit-cli/src/dev/js/vendor/README.md
  crates/maudit-cli/src/dev/js/vendor/ansi_up.d.ts
  crates/maudit-cli/src/dev/js/vendor/ansi_up.js
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/tsconfig.json
  crates/maudit/js/preload.ts
  package.json
  tsconfig.json
  xtask/Cargo.toml
  xtask/src/main.rs
Labels: crt:maudit, crt:cli

fix: linting and formatting and stuff
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/js/overlay.ts
  crates/maudit-cli/js/utils.ts
  crates/maudit-cli/pnpm-lock.yaml
  crates/maudit-cli/src/dev/404.html
  crates/maudit-cli/tsconfig.json
  crates/maudit-macros/CHANGELOG.md
  crates/maudit/tsconfig.json
  crates/oubli/CHANGELOG.md
  examples/i18n/README.md
  examples/kitchen-sink/data/script.js
  examples/kitchen-sink/data/some_other_script.js
  examples/markdown-components/src/style.css
  netlify.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  website/Cargo.toml
  website/assets/docs-sidebar.ts
  website/assets/prin.css
  website/content/docs/javascript.md
  website/content/docs/routing.md
  website/content/news/for-static-websites.md
Labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, devops

fix: embrace the future I guess
  crates/maudit-cli/js/utils.ts
  crates/maudit-cli/src/dev/filterer.rs
  crates/maudit-cli/tsconfig.json
  crates/maudit/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  website/content/docs/content.md
Labels: website, crt:maudit, crt:cli

fix: some more future
  .oxlintrc.json
  .zed/settings.json
Labels: devops

fix: vscode
  .oxlintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
Labels: devops

fix: ci
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
Labels: devops

fix: sha
  package.json
Labels: none

fix: broken shortcode
  website/content/docs/content.md
Labels: website

feat: prefetch support
  crates/maudit/js/prefetch.ts
  crates/maudit/js/preload.ts
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/prefetch.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Labels: crt:maudit

fix: explicitely include dist js files
  crates/maudit-cli/Cargo.toml
Labels: crt:cli

fix(ci): Pass allow-dirty
  .github/workflows/release.yml
Labels: devops

fix: make xtask non-publish
  xtask/Cargo.toml
Labels: none

fix: match rolldown filename sanitization
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/sanitize_filename.rs
Labels: crt:maudit

fix: some progress but honestly it's funky
  crates/maudit/js/prefetch.ts
  crates/maudit/js/prefetch/hover.ts
  crates/maudit/src/assets/prefetch.rs
  crates/maudit/src/build.rs
  xtask/src/main.rs
Labels: crt:maudit

feat: implement other strategies
  crates/maudit/js/prefetch/tap.ts
  crates/maudit/js/prefetch/viewport.ts
  crates/maudit/src/assets/prefetch.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  tsconfig.json
Labels: crt:maudit

chore: changeset
  .sampo/changesets/noble-lady-tuonetar.md
  .sampo/changesets/valiant-stormcaller-aino.md
Labels: none

fix: I will fight for your right to make Maudit at home using Maudit
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/prefetch.rs
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: some more cleanup
  crates/maudit/src/assets/prefetch.rs
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: hmm
  crates/maudit/src/build/options.rs
Labels: crt:maudit

fix: only keep prefetch enabled in relevant benchmarks
  benchmarks/md-benchmark/src/lib.rs
  benchmarks/overhead/src/lib.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build/options.rs
Labels: crt:maudit
