Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

fix: hack for ts
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: various stuff
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/kitchen-sink/src/pages/endpoint.rs
  examples/kitchen-sink/src/pages/index.rs
  website/content/docs/styling.md
  website/src/layout.rs
Labels: website, examples, crt:maudit

fix(bundling): Various Rolldown related assets fixes (#23)
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/kitchen-sink/src/pages/endpoint.rs
  examples/kitchen-sink/src/pages/index.rs
  website/content/docs/styling.md
  website/src/layout.rs
Labels: website, examples, crt:maudit

fix(maud): Script module type
  crates/maudit/src/templating/maud_ext.rs
Labels: crt:maudit

refactor: move frontmatter parsing to a re-usable function
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat(assets): Image processin
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/images.rs
  crates/maudit/src/content/markdown.rs
  examples/image-processing/.gitignore
  examples/image-processing/Cargo.toml
  examples/image-processing/images/logo.svg
  examples/image-processing/images/walrus.jpg
  examples/image-processing/src/layout.rs
  examples/image-processing/src/main.rs
  examples/image-processing/src/pages/index.rs
  package.json
  pnpm-lock.yaml
Labels: examples, crt:maudit

feat: refactor
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
Labels: crt:maudit

test(assets): Add more hashing tests
  crates/maudit/src/assets.rs
Labels: crt:maudit

fix(dev): Don't rebuild on user dropped events
  crates/maudit-cli/src/dev/filterer.rs
Labels: crt:cli

feat(routing): Allow returning props from routes
  benchmarks/md-benchmark/src/page.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content.rs
  crates/maudit/src/page.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/blog/src/pages/article.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/kitchen-sink/src/pages/index.rs
  examples/markdown-components/src/pages.rs
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli, crt:macros

fix: nonsense
  benchmarks/md-benchmark/src/page.rs
  crates/maudit/src/page.rs
  examples/kitchen-sink/src/pages/dynamic.rs
Labels: examples, crt:maudit

fix: remove unnecessary constraint
  benchmarks/md-benchmark/src/page.rs
  crates/maudit/src/content.rs
  crates/maudit/src/page.rs
  examples/blog/src/pages/article.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit

fix: format
  examples/blog/src/pages/article.rs
  website/src/pages/docs.rs
Labels: website, examples

fix: some utilities
  crates/maudit/src/page.rs
Labels: crt:maudit

feat: gros cook
  benchmarks/md-benchmark/src/page.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/page.rs
  examples/blog/src/pages/article.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:macros

feat: some docs
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/params.rs
  website/content/docs/routing.md
Labels: website, crt:maudit, crt:macros

feat(routing): Allow returning props from routes (#24)
  benchmarks/md-benchmark/src/page.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  crates/maudit/src/params.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/blog/src/pages/article.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/kitchen-sink/src/pages/index.rs
  examples/markdown-components/src/pages.rs
  website/content/docs/routing.md
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli, crt:macros

perf: just a try
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

feat(website): Contribute page
  website/src/layout.rs
  website/src/layout/header.rs
  website/src/main.rs
  website/src/pages/contribute.rs
  website/src/pages/index.rs
  website/src/pages/mod.rs
Labels: website

feat(perf): try to use quanta
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/src/init.rs
  crates/maudit-cli/src/logging.rs
  crates/maudit-cli/src/preview/server.rs
  crates/maudit-cli/src/server_utils.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/logging.rs
Labels: crt:maudit, crt:cli

feat(perf): try to use quanta (#26)
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/src/init.rs
  crates/maudit-cli/src/logging.rs
  crates/maudit-cli/src/preview/server.rs
  crates/maudit-cli/src/server_utils.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/logging.rs
Labels: crt:maudit, crt:cli

chore: changeset
  .sampo/README.md
  .sampo/changesets/cantankerous-wavetamer-akka.md
  .sampo/changesets/jovial-forgemaster-hiisi.md
  .sampo/changesets/resolute-thunderbearer-kullervo.md
  .sampo/changesets/stalwart-lord-tursas.md
  .sampo/config.toml
  examples/kitchen-sink/src/pages/endpoint.rs
Labels: examples

ci: setup sampo
  .github/workflows/release.yml
Labels: devops

fix(ci): remove versions?
  .github/workflows/release.yml
Labels: devops

ci: chore workflow_dispatch
  .github/workflows/benchmark.yaml
  .github/workflows/release.yml
Labels: devops

fix: remove unwanted changes
  Cargo.lock
  benchmarks/md-benchmark/CHANGELOG.md
  benchmarks/md-benchmark/Cargo.toml
  crates/oubli/CHANGELOG.md
  crates/oubli/Cargo.toml
  examples/basics/CHANGELOG.md
  examples/basics/Cargo.toml
  examples/blog/CHANGELOG.md
  examples/blog/Cargo.toml
  examples/empty/CHANGELOG.md
  examples/empty/Cargo.toml
  examples/image-processing/CHANGELOG.md
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/CHANGELOG.md
  examples/kitchen-sink/Cargo.toml
  examples/markdown-components/CHANGELOG.md
  examples/markdown-components/Cargo.toml
  examples/oubli-basics/CHANGELOG.md
  examples/oubli-basics/Cargo.toml
  website/CHANGELOG.md
  website/Cargo.toml
Labels: website, examples, crt:oubli

feat: implementation
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/content/markdown/shortcodes.rs
  examples/markdown-components/src/main.rs
Labels: examples, crt:maudit

fix: some things
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/shortcodes.rs
Labels: crt:maudit

fix: adjust logic
  crates/maudit/src/content/markdown/shortcodes.rs
Labels: crt:maudit

feat: rework some things
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/shortcodes.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
Labels: crt:maudit

chore: changeset
  .sampo/changesets/gallant-knight-louhi.md
  .sampo/config.toml
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: markdown shortcodes (#30)
  .sampo/changesets/gallant-knight-louhi.md
  .sampo/config.toml
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/content/markdown/shortcodes.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  examples/markdown-components/src/main.rs
Labels: examples, crt:maudit

fix(cli): dev server reload on .DS_Store nonsense
  .sampo/changesets/wily-runesinger-joukahainen.md
  crates/maudit-cli/src/dev/filterer.rs
Labels: crt:cli

feat: `is_dev()` export
  .sampo/changesets/jovial-firebringer-aurelien.md
  crates/maudit-cli/src/dev.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/build.rs
  crates/maudit/src/lib.rs
Labels: crt:maudit, crt:cli

chore: sampo config
  .sampo/config.toml
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/markdown-components/Cargo.toml
Labels: examples

feat(assets): Adds caching to image transformation
  .sampo/changesets/cranky-runesinger-vipunen.md
  .sampo/changesets/gallant-guardian-otso.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  examples/image-processing/src/pages/index.rs
Labels: examples, crt:maudit

chore: pin tracing-subscriber
  .sampo/changesets/stern-wavetamer-ukko.md
  Cargo.lock
  crates/maudit-cli/Cargo.toml
Labels: crt:cli

chore: bump maudit-cli manually
  Cargo.lock
  crates/maudit-cli/Cargo.toml
Labels: crt:cli

fix: small fixes
  .sampo/changesets/grumpy-earl-vainamoinen.md
  .sampo/changesets/venerable-duchess-loviatar.md
  crates/maudit-cli/src/dev.rs
  crates/maudit/src/build/images.rs
Labels: crt:maudit, crt:cli

chore: lockfile
  Cargo.lock
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile
