Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

chore: remove unused deps
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit/Cargo.toml
Labels: crt:maudit, crt:cli

chore: changeset format
  .sampo/changesets/grumpy-earl-vainamoinen.md
  .sampo/changesets/venerable-duchess-loviatar.md
Labels: none

fix: markdown things
  crates/maudit/src/assets.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/shortcodes.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/page.rs
  crates/oubli/src/archetypes/blog.rs
Labels: crt:maudit, crt:oubli

feat(assets): hashing performance and dimensions
  .sampo/changesets/majestic-duchess-kalma.md
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/templating/maud_ext.rs
  website/content/docs/templating.md
Labels: website, crt:maudit

chore: random things
  crates/maudit-cli/src/dev/404.html
  crates/maudit/src/lib.rs
Labels: crt:maudit, crt:cli

chore: changeset
  .sampo/changesets/ancient-baroness-vipunen.md
  .sampo/changesets/doughty-warden-erika.md
  .sampo/changesets/majestic-duchess-kalma.md
  crates/maudit/src/content/markdown/shortcodes.rs
Labels: crt:maudit

fix: markdown things (#34)
  .sampo/changesets/ancient-baroness-vipunen.md
  .sampo/changesets/doughty-warden-erika.md
  .sampo/changesets/majestic-duchess-kalma.md
  Cargo.lock
  crates/maudit-cli/src/dev/404.html
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/shortcodes.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  crates/maudit/src/templating/maud_ext.rs
  crates/oubli/src/archetypes/blog.rs
  website/content/docs/templating.md
Labels: website, crt:maudit, crt:oubli, crt:cli

docs: some docs
  website/content/docs/content.md
  website/content/docs/entrypoint.md
  website/content/docs/images.md
  website/content/docs/installation.md
  website/content/docs/javascript.md
  website/content/docs/performance.md
  website/content/docs/philosophy.md
  website/content/docs/routing.md
  website/content/docs/styling.md
  website/src/content.rs
  website/src/layout/docs_sidebars.rs
Labels: website

fix: perf
  website/content/docs/performance.md
Labels: website

fix: wteak
  website/content/docs/performance.md
Labels: website

feat: make it easier to build routes individually
  benchmarks/md-benchmark/src/page.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/CHANGELOG.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/images.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/blog/src/pages/article.rs
  examples/image-processing/src/pages/index.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  website/content/docs/routing.md
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli, crt:macros

feat: library example
  Cargo.lock
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/page.rs
  crates/maudit/src/route.rs
  examples/library/.gitignore
  examples/library/Cargo.toml
  examples/library/content/articles/first-post.md
  examples/library/content/articles/second-post.md
  examples/library/content/articles/third-post.md
  examples/library/images/logo.svg
  examples/library/src/build.rs
  examples/library/src/content.rs
  examples/library/src/layout.rs
  examples/library/src/main.rs
  examples/library/src/pages/article.rs
  examples/library/src/pages/index.rs
  website/content/docs/library.md
Labels: website, examples, crt:maudit

fix: do content sources serially
  crates/maudit/src/build.rs
Labels: crt:maudit

refactor: always use routes
  benchmarks/md-benchmark/src/page.rs
  crates/maudit/src/page.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/blog/src/pages/article.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/library/src/pages/article.rs
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli

feat: make it easier to use Maudit as a library (#37)
  Cargo.lock
  benchmarks/md-benchmark/src/page.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/CHANGELOG.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/images.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  crates/maudit/src/route.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/image-processing/src/pages/index.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/library/.gitignore
  examples/library/Cargo.toml
  examples/library/content/articles/first-post.md
  examples/library/content/articles/second-post.md
  examples/library/content/articles/third-post.md
  examples/library/images/logo.svg
  examples/library/src/build.rs
  examples/library/src/content.rs
  examples/library/src/layout.rs
  examples/library/src/main.rs
  examples/library/src/pages/article.rs
  examples/library/src/pages/index.rs
  website/content/docs/library.md
  website/content/docs/routing.md
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli, crt:macros

docs: some docs (#36)
  website/content/docs/content.md
  website/content/docs/entrypoint.md
  website/content/docs/images.md
  website/content/docs/installation.md
  website/content/docs/javascript.md
  website/content/docs/performance.md
  website/content/docs/philosophy.md
  website/content/docs/routing.md
  website/content/docs/styling.md
  website/src/content.rs
  website/src/layout/docs_sidebars.rs
Labels: website

feat: a bunch of things again
  .sampo/README.md
  Cargo.toml
  benchmarks/README.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/errors.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  crates/maudit/src/route.rs
  crates/maudit/src/templating/maud_ext.rs
  crates/oubli/src/archetypes/blog.rs
  examples/blog/src/pages/index.rs
  examples/kitchen-sink/src/pages/index.rs
  examples/library/src/pages/index.rs
  examples/markdown-components/src/pages.rs
  website/content/docs/content.md
  website/content/docs/library.md
Labels: website, examples, crt:maudit, crt:oubli

feat: rework assets options
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/highlight.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  examples/kitchen-sink/src/main.rs
  examples/library/src/build.rs
  website/content/docs/library.md
  website/src/layout/docs_sidebars.rs
  website/src/main.rs
Labels: website, examples, crt:maudit

nit: comments
  crates/maudit/src/build.rs
  website/content/docs/library.md
Labels: website, crt:maudit

refactor: unnecessary dir creation
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: doc
  crates/maudit/src/build/options.rs
Labels: crt:maudit

feat: a bunch of things again (#38)
  .sampo/README.md
  Cargo.toml
  benchmarks/README.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/highlight.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/errors.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  crates/maudit/src/route.rs
  crates/maudit/src/templating/maud_ext.rs
  crates/oubli/src/archetypes/blog.rs
  examples/blog/src/pages/index.rs
  examples/kitchen-sink/src/main.rs
  examples/kitchen-sink/src/pages/index.rs
  examples/library/src/build.rs
  examples/library/src/pages/index.rs
  examples/markdown-components/src/pages.rs
  website/content/docs/content.md
  website/content/docs/library.md
  website/src/layout/docs_sidebars.rs
  website/src/main.rs
Labels: website, examples, crt:maudit, crt:oubli

chore: add profiling profile
  Cargo.toml
Labels: none

fix: css for website
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

refactor: reduce cloning in assets
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

refactor: reduce cloning in assets (#39)
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: make dev server better
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  website/content/news/maudit01.md
Labels: website, crt:cli

fix: rework the world
  .vscode/settings.json
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/build.rs
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/client.js
  crates/maudit-cli/src/dev/filterer.rs
  crates/maudit-cli/src/dev/js/client.ts
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: crt:cli, devops

fix: cancel builds
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
Labels: crt:cli

feat: error overlay
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/js/client.ts
  crates/maudit-cli/src/dev/js/overlay.ts
Labels: crt:cli

fix: js tweaks
  crates/maudit-cli/src/dev/js/client.ts
  crates/maudit-cli/src/dev/js/utils.ts
Labels: crt:cli

feat: some more
  crates/maudit-macros/src/lib.rs
  crates/maudit/CHANGELOG.md
  crates/maudit/src/build.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/page.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/library/src/build.rs
  examples/library/src/pages/article.rs
  website/content/docs/content.md
  website/content/docs/images.md
  website/content/docs/javascript.md
  website/content/docs/library.md
  website/content/docs/quick-start.md
  website/content/docs/routing.md
  website/content/docs/styling.md
  website/content/docs/templating.md
  website/content/news/maudit01.md
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:macros

refactor: js overlay
  crates/maudit-cli/src/dev/js/client.ts
  crates/maudit-cli/src/dev/js/overlay.ts
  crates/maudit-cli/src/dev/js/utils.ts
Labels: crt:cli

chore: changeset
  .sampo/changesets/jovial-witch-aino.md
Labels: none

feat: try parallel builds again
  crates/maudit/src/build.rs
  crates/maudit/src/page.rs
Labels: crt:maudit

fix: oops
  crates/maudit/src/page.rs
Labels: crt:maudit

nit: update comment for serial processing
  crates/maudit/src/build.rs
Labels: crt:maudit

feat: ergonomic returns
  benchmarks/md-benchmark/src/page.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/CHANGELOG.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/script.rs
  crates/maudit/src/assets/style.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/route.rs
  crates/oubli/src/lib.rs
  examples/basics/src/routes/index.rs
  examples/blog/src/routes/article.rs
  examples/blog/src/routes/index.rs
  examples/empty/src/routes/index.rs
  examples/image-processing/src/routes/index.rs
  examples/kitchen-sink/src/routes/dynamic.rs
  examples/kitchen-sink/src/routes/endpoint.rs
  examples/kitchen-sink/src/routes/index.rs
  examples/library/src/build.rs
  examples/library/src/routes/article.rs
  examples/library/src/routes/index.rs
  examples/markdown-components/src/routes.rs
  examples/oubli-basics/src/routes/index.rs
  website/content/docs/content.md
  website/content/docs/images.md
  website/content/docs/library.md
  website/content/docs/quick-start.md
  website/content/docs/routing.md
  website/content/news/maudit01.md
  website/src/layout.rs
  website/src/routes/404.rs
  website/src/routes/chat.rs
  website/src/routes/contribute.rs
  website/src/routes/docs.rs
  website/src/routes/index.rs
  website/src/routes/news.rs
Labels: website, examples, crt:maudit, crt:oubli, crt:macros

chore: changeset
  .sampo/changesets/somber-duke-vellamo.md
Labels: none

feat: experiment with more ergonomic pagination
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/route.rs
  crates/oubli/src/lib.rs
Labels: crt:maudit, crt:oubli

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile
