Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile

chore: changeset
  .sampo/changesets/valorous-earl-louhi.md
Labels: none

fix: some assets error handling and tests (#93)
  .sampo/changesets/valorous-earl-louhi.md
  Cargo.lock
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/errors.rs
  crates/maudit/src/routing.rs
  e2e/fixtures/hot-reload/Cargo.toml
  e2e/fixtures/hot-reload/src/main.rs
  e2e/fixtures/hot-reload/src/pages/index.rs
  e2e/tests/hot-reload.spec.ts
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
  e2e/tests/test-utils.ts
  package.json
  website/content/docs/images.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website, crt:maudit

fix: fix
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/dep_tracker.rs
Labels: crt:cli

fix: e2e tests
  e2e/tests/hot-reload.spec.ts
  e2e/tests/test-utils.ts
Labels: none

fix: longer timeout perhaps
  e2e/tests/test-utils.ts
Labels: none

fix: make it more reliable
  Cargo.lock
  Cargo.toml
  e2e/fixtures/hot-reload/data.txt
  e2e/tests/hot-reload.spec.ts
  e2e/tests/test-utils.ts
Labels: none

fix: don't recompute dirs
  crates/maudit-cli/src/dev/build.rs
Labels: crt:cli

fix: use same target finding function in assets
  Cargo.lock
  crates/maudit/src/build/options.rs
Labels: crt:maudit

feat: some sort of incremental builds
  Cargo.lock
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/logging.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/build/state.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/logging.rs
  e2e/fixtures/incremental-build/Cargo.toml
  e2e/fixtures/incremental-build/src/assets/about.js
  e2e/fixtures/incremental-build/src/assets/blog.css
  e2e/fixtures/incremental-build/src/assets/logo.png
  e2e/fixtures/incremental-build/src/assets/main.js
  e2e/fixtures/incremental-build/src/assets/styles.css
  e2e/fixtures/incremental-build/src/assets/team.png
  e2e/fixtures/incremental-build/src/main.rs
  e2e/fixtures/incremental-build/src/pages/about.rs
  e2e/fixtures/incremental-build/src/pages/blog.rs
  e2e/fixtures/incremental-build/src/pages/index.rs
  e2e/fixtures/incremental-build/src/pages/mod.rs
  e2e/tests/incremental-build.spec.ts
  examples/basics/src/main.rs
  examples/basics/src/routes/another.rs
  website/assets/walrus.svg
  website/src/routes/index.rs
Labels: website, examples, crt:maudit, crt:cli

fix: some things
  crates/maudit/src/build/state.rs
  e2e/fixtures/incremental-build/src/pages/about.rs
  e2e/fixtures/incremental-build/src/pages/blog.rs
  e2e/fixtures/incremental-build/src/pages/index.rs
  e2e/tests/incremental-build.spec.ts
Labels: crt:maudit

fix: lint
  crates/maudit/src/build/state.rs
  e2e/fixtures/incremental-build/src/pages/about.rs
  e2e/fixtures/incremental-build/src/pages/blog.rs
  e2e/fixtures/incremental-build/src/pages/index.rs
Labels: crt:maudit

fix: remove unrelated changes
  examples/basics/src/main.rs
  examples/basics/src/routes/another.rs
  website/assets/walrus.svg
  website/src/routes/index.rs
Labels: website, examples

fix: update hot reload tests
  e2e/tests/hot-reload.spec.ts
Labels: none

fix: just some clean up
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

fix: transitive dependencies
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  e2e/fixtures/incremental-build/src/assets/main.js
  e2e/fixtures/incremental-build/src/assets/utils.js
  e2e/fixtures/incremental-build/src/pages/about.rs
  e2e/tests/incremental-build.spec.ts
  e2e/tests/test-utils.ts
Labels: crt:maudit

fix: bunch of fixes
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/dep_tracker.rs
  crates/maudit-cli/src/logging.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  e2e/fixtures/hot-reload/src/main.rs
  e2e/fixtures/incremental-build/src/assets/bg.png
  e2e/fixtures/incremental-build/src/assets/blog.css
  e2e/fixtures/incremental-build/src/main.rs
  e2e/fixtures/prefetch-prerender/src/main.rs
  e2e/tests/incremental-build.spec.ts
Labels: crt:maudit, crt:cli

fix: allow showing the binary output in dev if needs be
  crates/maudit-cli/src/dev/build.rs
  e2e/tests/test-utils.ts
Labels: crt:cli

perf: cache is_dev()
  crates/maudit/src/lib.rs
Labels: crt:maudit

fix: no idea what im doing
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/dep_tracker.rs
  crates/maudit-cli/src/dev/server.rs
  examples/basics/src/routes/index.rs
Labels: examples, crt:cli

fix: folders
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .vscode/extensions.json
  .vscode/settings.json
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/server.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  e2e/README.md
  e2e/fixtures/incremental-build/src/assets/about.js
  e2e/fixtures/incremental-build/src/assets/blog.css
  e2e/fixtures/incremental-build/src/assets/main.js
  e2e/fixtures/incremental-build/src/assets/styles.css
  e2e/fixtures/incremental-build/src/assets/utils.js
  e2e/tests/hot-reload.spec.ts
  e2e/tests/incremental-build.spec.ts
  e2e/tests/test-utils.ts
  website/content/docs/content.md
  website/content/docs/prefetching.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website, crt:maudit, crt:cli, devops

fix: folders
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit/src/build/state.rs
  e2e/fixtures/incremental-build/src/assets/icons/blog-icon.css
  e2e/fixtures/incremental-build/src/pages/blog.rs
  e2e/tests/incremental-build.spec.ts
  examples/basics/src/routes/index.rs
  website/content/docs/content.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website, examples, crt:maudit, crt:cli

fix: try out something for perf
  crates/maudit/src/build.rs
Labels: crt:maudit

feat: track rust files
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/dep_tracker.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/state.rs
  crates/maudit/src/route.rs
  e2e/fixtures/incremental-build/src/assets/about-content.txt
  e2e/fixtures/incremental-build/src/main.rs
  e2e/fixtures/incremental-build/src/pages/about.rs
  e2e/fixtures/incremental-build/src/pages/helpers.rs
  e2e/fixtures/incremental-build/src/pages/mod.rs
  e2e/tests/incremental-build.spec.ts
Labels: crt:maudit, crt:cli, crt:macros

fix: lol
  Cargo.lock
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/state.rs
  crates/maudit/src/content.rs
  crates/maudit/src/route.rs
  crates/oubli/src/archetypes/blog.rs
  e2e/fixtures/incremental-build/Cargo.toml
  e2e/fixtures/incremental-build/content/articles/first-post.md
  e2e/fixtures/incremental-build/content/articles/second-post.md
  e2e/fixtures/incremental-build/content/articles/third-post.md
  e2e/fixtures/incremental-build/src/content.rs
  e2e/fixtures/incremental-build/src/main.rs
  e2e/fixtures/incremental-build/src/pages/article.rs
  e2e/fixtures/incremental-build/src/pages/articles.rs
  e2e/fixtures/incremental-build/src/pages/mod.rs
  e2e/tests/incremental-build.spec.ts
  examples/blog/src/routes/index.rs
  examples/library/src/routes/index.rs
  examples/oubli-basics/src/routes/index.rs
  website/src/layout/docs_sidebars.rs
  website/src/routes/news.rs
Labels: website, examples, crt:maudit, crt:oubli

fix: content -> full rebuild
  crates/maudit/src/build.rs
  e2e/tests/incremental-build.spec.ts
Labels: crt:maudit

fix: lint
  crates/maudit/src/build/state.rs
  crates/maudit/src/content.rs
  e2e/fixtures/incremental-build/src/main.rs
Labels: crt:maudit

fix: format
  .github/workflows/benchmark.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  .vscode/extensions.json
  .vscode/settings.json
  crates/maudit-cli/src/dev.rs
  crates/maudit/Cargo.toml
  e2e/README.md
  e2e/fixtures/hot-reload/src/main.rs
  e2e/fixtures/prefetch-prerender/src/main.rs
  website/content/docs/content.md
  website/content/docs/prefetching.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website, crt:maudit, crt:cli, devops

Update crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev.rs
Labels: crt:cli

fix: preserve changes across failed / cancelled builds
  crates/maudit-cli/src/dev/build.rs
Labels: crt:cli

feat: use depinfo to conditionally recompile
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/dep_tracker.rs
  crates/maudit-cli/src/dev/server.rs
  e2e/fixtures/hot-reload/data.txt
  e2e/tests/hot-reload.spec.ts
Labels: crt:cli

fix: tests
  e2e/tests/hot-reload.spec.ts
  e2e/tests/test-utils.ts
Labels: none

feat: initial version
  crates/maudit/js/pwa/register.ts
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/pwa.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  crates/maudit/src/pwa.rs
  crates/maudit/src/route.rs
Labels: crt:maudit

test: add test
  Cargo.lock
  e2e/fixtures/pwa/Cargo.toml
  e2e/fixtures/pwa/src/main.rs
  e2e/fixtures/pwa/src/pages/about.rs
  e2e/fixtures/pwa/src/pages/index.rs
  e2e/tests/pwa.spec.ts
Labels: none

feat: initial version
  Cargo.lock
  benchmarks/md-benchmark/src/page.rs
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/build/cache.rs
  crates/maudit/src/build/metadata.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/content/tracked.rs
  crates/maudit/src/route.rs
  crates/maudit/tests/incremental.rs
  crates/oubli/src/archetypes/blog.rs
  examples/blog/src/routes/article.rs
  examples/blog/src/routes/index.rs
  examples/library/src/build.rs
  examples/library/src/routes/article.rs
  examples/library/src/routes/index.rs
  examples/markdown-components/src/routes.rs
  examples/oubli-basics/src/routes/index.rs
  website/assets/prin.css
  website/content/docs/content.md
  website/content/docs/library.md
  website/src/layout/docs_sidebars.rs
  website/src/routes/docs.rs
  website/src/routes/news.rs
Labels: website, examples, crt:maudit, crt:oubli

fix: some more tests
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: avoid overhead when disabled
  Cargo.lock
  benchmarks/incremental/Cargo.toml
  benchmarks/incremental/benches/build.rs
  benchmarks/incremental/src/lib.rs
  benchmarks/incremental/src/main.rs
  benchmarks/incremental/src/page.rs
  benchmarks/md-benchmark/benches/build.rs
  benchmarks/md-benchmark/src/lib.rs
  benchmarks/overhead/benches/build.rs
  benchmarks/realistic-blog/benches/build.rs
  benchmarks/realistic-blog/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/tests/incremental.rs
Labels: crt:maudit

fix: lint
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: try some perf stuff
  crates/maudit/src/assets.rs
Labels: crt:maudit

fix: try more perf things
  crates/maudit/src/build.rs
  crates/maudit/src/logging.rs
Labels: crt:maudit

fix: reduce incremental overhead
  crates/maudit/src/build.rs
Labels: crt:maudit
