Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:cli, crt:macros, crt:benchmarks, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/framework/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile

feat(routing): Move route definition to runtime (#10)
  Cargo.lock
  Cargo.toml
  crates/cli/src/init.rs
  crates/framework/src/build.rs
  crates/framework/src/content.rs
  crates/framework/src/lib.rs
  crates/framework/src/page.rs
  crates/framework/src/route.rs
  crates/macros/src/lib.rs
  crates/md-benchmark/src/main.rs
  crates/md-benchmark/src/page.rs
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/blog/src/pages/article.rs
  examples/blog/src/pages/index.rs
  examples/kitchen-sink/Cargo.toml
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/kitchen-sink/src/pages/index.rs
  website/content/docs/assets.md
  website/content/docs/routing.md
  website/content/docs/templating.md
  website/src/pages/docs.rs
  website/src/pages/index.rs
Labels: website, examples, crt:maudit, crt:cli, crt:macros

fix(cli): Show proper address and port for dev server
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/dev.rs
  crates/cli/src/dev/server.rs
  crates/cli/src/main.rs
Labels: crt:cli

init oubli
  Cargo.lock
  Cargo.toml
  crates/cli/src/main_test.rs
  crates/oubli/Cargo.toml
  crates/oubli/README.md
  crates/oubli/src/lib.rs
  examples/oubli-basics/Cargo.toml
  examples/oubli-basics/images/logo.svg
  examples/oubli-basics/src/layout.rs
  examples/oubli-basics/src/main.rs
  examples/oubli-basics/src/pages/index.rs
Labels: examples, crt:cli

tmp
  crates/oubli/src/archetypes.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/oubli-basics/src/main.rs
Labels: examples

expand routes macros
  crates/framework/src/build.rs
  crates/oubli/src/lib.rs
Labels: crt:maudit

basics of archetypes But it doesn't work, pls Erika help
  Cargo.lock
  crates/framework/src/content.rs
  crates/oubli/Cargo.toml
  crates/oubli/src/archetypes.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/layouts/layout.rs
  crates/oubli/src/lib.rs
Labels: crt:maudit

fix: make everything compile
  crates/oubli/src/archetypes.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/oubli-basics/src/main.rs
Labels: examples

revert to routes macro
  crates/framework/src/page.rs
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/lib.rs
  examples/blog/src/pages/index.rs
  examples/oubli-basics/content/blog/test.md
Labels: examples, crt:maudit

fix build
  examples/kitchen-sink/src/pages/index.rs
Labels: examples

fix tests
  crates/oubli/src/lib.rs
Labels: none

Update Cargo.toml
  Cargo.toml
Labels: none

Update crates/framework/src/build.rs
  crates/framework/src/build.rs
Labels: crt:maudit

remove unused test
  crates/cli/src/main_test.rs
Labels: crt:cli

oubli: poc (#8)
  Cargo.lock
  Cargo.toml
  crates/framework/src/content.rs
  crates/framework/src/page.rs
  crates/oubli/Cargo.toml
  crates/oubli/README.md
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/layouts/layout.rs
  crates/oubli/src/lib.rs
  examples/blog/src/pages/index.rs
  examples/kitchen-sink/src/pages/index.rs
  examples/oubli-basics/Cargo.toml
  examples/oubli-basics/content/blog/test.md
  examples/oubli-basics/images/logo.svg
  examples/oubli-basics/src/layout.rs
  examples/oubli-basics/src/main.rs
  examples/oubli-basics/src/pages/index.rs
Labels: examples, crt:maudit

feat: more reliable dev server starts
  crates/cli/src/dev.rs
  crates/cli/src/dev/server.rs
  crates/cli/src/logging.rs
Labels: crt:cli

feat: make render and raw_content optional on content entries
  crates/framework/src/content.rs
Labels: crt:maudit

feat(markdown): Support generating slugs for headings in Markdown
  Cargo.lock
  crates/framework/Cargo.toml
  crates/framework/src/content.rs
  crates/framework/src/content/markdown.rs
  crates/framework/src/content/slugger.rs
Labels: crt:maudit

à l'aide erika
  crates/framework/src/content.rs
  crates/oubli/src/lib.rs
Labels: crt:maudit

fix: make it compile
  crates/oubli/src/lib.rs
Labels: none

progress
  crates/oubli/src/lib.rs
  examples/oubli-basics/src/pages/index.rs
Labels: examples

feat: working headings
  crates/framework/src/content/markdown.rs
Labels: crt:maudit

fix: correct address for websocket
  crates/cli/src/dev.rs
  crates/cli/src/dev/client.js
  crates/cli/src/dev/server.rs
Labels: crt:cli

feat(markdown): Support generating slugs for headings in Markdown (#11)
  Cargo.lock
  crates/framework/Cargo.toml
  crates/framework/src/content.rs
  crates/framework/src/content/markdown.rs
  crates/framework/src/content/slugger.rs
Labels: crt:maudit

add display name params for archetypes
  crates/oubli/src/archetypes/blog.rs
  crates/oubli/src/layouts/layout.rs
  crates/oubli/src/lib.rs
  examples/oubli-basics/src/main.rs
  examples/oubli-basics/src/pages/index.rs
Labels: examples
