Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile

fix: update intended version
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/library/Cargo.toml
  examples/markdown-components/Cargo.toml
Labels: examples

fix(docs): Missing cargo settings
  website/content/docs/performance.md
Labels: website

feat: docs improvements
  website/assets/docs-sidebar.ts
  website/assets/prin.css
  website/content/docs/images.md
  website/content/docs/javascript.md
  website/content/docs/library.md
  website/content/docs/performance.md
  website/content/docs/routing.md
  website/src/layout.rs
  website/src/layout/docs_sidebars.rs
  website/src/routes/index.rs
Labels: website

fix(docs): broken padding on toc
  website/src/layout/docs_sidebars.rs
Labels: website

feat: try a red favicon
  assets/README.md
  website/static/favicon.svg
Labels: website

feat: new article on compile time
  Cargo.lock
  crates/maudit-cli/src/dev.rs
  examples/runtime-to-the-max/.gitignore
  examples/runtime-to-the-max/Cargo.toml
  examples/runtime-to-the-max/pages.txt
  examples/runtime-to-the-max/src/main.rs
  examples/runtime-to-the-max/src/routes/dynamic.rs
  website/assets/prin.css
  website/content/news/maudit-compile-time.md
  website/src/routes/news.rs
Labels: website, examples, crt:cli

revert: dev server changes
  crates/maudit-cli/src/dev.rs
Labels: crt:cli

fix: try to make dev server even more stable
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
Labels: crt:cli

nit: try something with the lockfile
  Cargo.lock
Labels: none

fix: update ref
  Cargo.lock
Labels: none

fix: try things
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

fix: cancel
  crates/maudit-cli/src/dev.rs
Labels: crt:cli

fix: evrything
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/filterer.rs
Labels: crt:cli

fix: improve port resuse
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/src/preview/server.rs
Labels: crt:cli

fix: rework how we watch
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit/Cargo.toml
Labels: crt:maudit, crt:cli

fix: try to make dev server even more stable (#50)
  Cargo.lock
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/filterer.rs
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/src/preview/server.rs
  crates/maudit/Cargo.toml
Labels: crt:maudit, crt:cli

chore: changeset
  .sampo/changesets/bold-iceseeker-tursas.md
  .sampo/changesets/heroic-wolfkin-ahti.md
Labels: none

fix(cli): Missing HTTP headers
  .sampo/changesets/heroic-iceseeker-nyyrikki.md
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

feat(dev): Add cache headings to fingerprinted assets in dev
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

chore: changeset
  .sampo/changesets/noble-count-ilmatar.md
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

refactor: unnecessary change
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

fix: remove unnecessary clone
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

feat(dev): Add cache headings to fingerprinted assets in dev (#53)
  .sampo/changesets/noble-count-ilmatar.md
  crates/maudit-cli/src/dev/server.rs
Labels: crt:cli

feat(assets): Start Tailwind asynchronously
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
Labels: crt:maudit

fix: clenaup
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
Labels: crt:maudit

feat(news): New article and small docs tweaks
  Cargo.lock
  website/Cargo.toml
  website/assets/prin.css
  website/content/docs/templating.md
  website/content/news/maudit-compile-time.md
  website/content/news/maudit-library.md
  website/src/content.rs
  website/src/routes/news.rs
Labels: website

fix: leaner article
  website/content/news/maudit-library.md
Labels: website

feat(news): New article
  .github/workflows/release.yml
  website/content/docs/philosophy.md
  website/content/news/for-static-websites.md
  website/content/news/maudit-compile-time.md
  website/content/news/maudit01.md
Labels: website, devops

feat: use a node sidecar
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  package.json
  packages/node-sidecar/package.json
  packages/node-sidecar/src/index.ts
  packages/node-sidecar/src/tailwind.ts
  packages/node-sidecar/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: crt:maudit

fix: make things work I guess
  .gitignore
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/node_sidecar.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  examples/kitchen-sink/src/main.rs
  package.json
  packages/binaries/darwin-arm64/package.json
  packages/binaries/linux-x64/package.json
  packages/binaries/windows-x64/package.json
  packages/node-sidecar/package.json
  packages/node-sidecar/src/bin.ts
  packages/sidecar/package.json
  packages/sidecar/scripts/build.ts
  packages/sidecar/src/bin.ts
  packages/sidecar/src/index.ts
  packages/sidecar/src/tailwind.ts
  packages/sidecar/tsconfig.json
  patches/lightningcss@1.30.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
  website/src/main.rs
Labels: website, examples, crt:maudit, devops

revert sidecar
  .gitignore
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/node_sidecar.rs
  crates/maudit/src/assets/tailwind.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  examples/kitchen-sink/src/main.rs
  package.json
  packages/binaries/darwin-arm64/package.json
  packages/binaries/linux-x64/package.json
  packages/binaries/windows-x64/package.json
  packages/node-sidecar/src/bin.ts
  packages/sidecar/package.json
  packages/sidecar/scripts/build.ts
  packages/sidecar/src/bin.ts
  packages/sidecar/src/index.ts
  packages/sidecar/src/tailwind.ts
  packages/sidecar/tsconfig.json
  patches/lightningcss@1.30.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/package.json
  website/src/main.rs
Labels: website, examples, crt:maudit, devops

feat: remove map
  crates/maudit/src/assets/tailwind.rs
  packages/node-sidecar/src/index.ts
Labels: crt:maudit

perf: try using just raw tailwind stdio, no warming up
  crates/maudit/src/assets/tailwind.rs
Labels: crt:maudit

Fix grammatical error in compile-time post
  website/content/news/maudit-compile-time.md
Labels: website

Fix grammatical error in compile-time post (#56)
  website/content/news/maudit-compile-time.md
Labels: website

fix(assets): Use a newtype for Image so that we can implement traits on it
  .sampo/changesets/cantankerous-queen-aurelien.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/templating/maud_ext.rs
  website/content/docs/templating.md
Labels: website, crt:maudit

fix(assets): Use a newtype for Image so that we can implement traits on it (#58)
  .sampo/changesets/cantankerous-queen-aurelien.md
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/templating/maud_ext.rs
  website/content/docs/templating.md
Labels: website, crt:maudit

fix: random hash for tailwind assets
  crates/maudit/src/assets.rs
Labels: crt:maudit

chore: changeset
  .sampo/changesets/majestic-seer-vipunen.md
Labels: none

fix: random hash for tailwind assets (#59)
  .sampo/changesets/majestic-seer-vipunen.md
  crates/maudit/src/assets.rs
Labels: crt:maudit
