Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

fix: im stupid
  crates/maudit/js/prefetch/tap.ts
Labels: crt:maudit

fix: adjust for feedback
  crates/maudit/js/prefetch.ts
  crates/maudit/js/prefetch/tap.ts
Labels: crt:maudit

feat: prefetch support (#83)
  .sampo/changesets/noble-lady-tuonetar.md
  .sampo/changesets/valiant-stormcaller-aino.md
  benchmarks/md-benchmark/src/lib.rs
  benchmarks/overhead/src/lib.rs
  crates/maudit/Cargo.toml
  crates/maudit/js/prefetch.ts
  crates/maudit/js/prefetch/hover.ts
  crates/maudit/js/prefetch/tap.ts
  crates/maudit/js/prefetch/viewport.ts
  crates/maudit/js/preload.ts
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/prefetch.rs
  crates/maudit/src/assets/sanitize_filename.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/lib.rs
  tsconfig.json
  xtask/src/main.rs
Labels: crt:maudit

fix(prefetch): Wait for DOMContentLoaded before prefetching in viewport
  crates/maudit/js/prefetch/viewport.ts
Labels: crt:maudit

feat(routing): Add function to generate redirects
  .sampo/changesets/grumpy-windweaver-kalma.md
  crates/maudit/src/route.rs
Labels: crt:maudit

test: add
  crates/maudit/src/route.rs
Labels: crt:maudit

feat(routing): Add function to generate redirects (#85)
  .sampo/changesets/grumpy-windweaver-kalma.md
  crates/maudit/src/route.rs
Labels: crt:maudit

docs: document recent features
  crates/maudit/src/route.rs
  website/content/docs/content.md
  website/content/docs/prefetching.md
  website/content/docs/routing.md
  website/content/news/2026-in-the-cursed-lands.md
  website/src/main.rs
  website/static/prefetch.mp4
Labels: website, crt:maudit

chore: make footer copyright year dynamic
  website/src/layout.rs
Labels: website

chore: make footer copyright year dynamic (#88)
  website/src/layout.rs
Labels: website

feat: rest of article
  website/content/docs/images.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website

nit: article
  website/content/docs/images.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website

fix: indent
  website/content/docs/routing.md
Labels: website

fix: revert change to site
  website/src/main.rs
Labels: website

docs: document recent features (#86)
  crates/maudit/src/route.rs
  website/content/docs/content.md
  website/content/docs/images.md
  website/content/docs/prefetching.md
  website/content/docs/routing.md
  website/content/news/2026-in-the-cursed-lands.md
  website/static/prefetch.mp4
Labels: website, crt:maudit

feat: compress video
  website/static/prefetch.mp4
Labels: website

feat: progress
  Cargo.toml
  benchmarks/md-benchmark/src/lib.rs
  benchmarks/overhead/src/lib.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/js/prefetch.ts
  crates/maudit/src/build/options.rs
  e2e/.gitignore
  e2e/README.md
  e2e/fixtures/test-site/Cargo.lock
  e2e/fixtures/test-site/Cargo.toml
  e2e/fixtures/test-site/src/main.rs
  e2e/fixtures/test-site/src/pages/about.rs
  e2e/fixtures/test-site/src/pages/blog.rs
  e2e/fixtures/test-site/src/pages/contact.rs
  e2e/fixtures/test-site/src/pages/index.rs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
  e2e/tests/utils.ts
  e2e/tsconfig.json
  e2e/types.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: crt:maudit, crt:macros

fix: tests
  e2e/tests/prefetch.spec.ts
Labels: none

fix: tests
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  e2e/playwright.config.ts
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
Labels: crt:cli

docs: expand readme with a quick start
  README.md
Labels: none

docs: simplified readme
  README.md
Labels: none

fix: urls
  crates/maudit/js/prefetch.ts
  e2e/tests/prerender.spec.ts
  xtask/src/main.rs
Labels: crt:maudit

fix: cleanup workspace
  Cargo.lock
  Cargo.toml
  e2e/fixtures/test-site/Cargo.lock
  e2e/fixtures/test-site/Cargo.toml
Labels: none

docs: fix readme wording
  README.md
Labels: none

feat: bunch of things
  Cargo.lock
  crates/maudit-cli/src/consts.rs
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/src/main.rs
  crates/maudit-cli/src/preview/server.rs
  e2e/fixtures/prefetch-prerender/Cargo.toml
  e2e/fixtures/prefetch-prerender/src/main.rs
  e2e/fixtures/prefetch-prerender/src/pages/about.rs
  e2e/fixtures/prefetch-prerender/src/pages/blog.rs
  e2e/fixtures/prefetch-prerender/src/pages/contact.rs
  e2e/fixtures/prefetch-prerender/src/pages/index.rs
  e2e/playwright.config.ts
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
  e2e/tests/test-utils.ts
Labels: crt:cli

docs: docs
  crates/maudit/js/prefetch.ts
  crates/maudit/src/build/options.rs
  website/content/docs/prefetching.md
Labels: website, crt:maudit

chore: changeset
  .sampo/changesets/bold-baroness-joukahainen.md
  .sampo/changesets/gallant-wavetamer-nyyrikki.md
  .sampo/changesets/noble-earl-ilmarinen.md
Labels: none

ci: run e2e in ci
  .github/workflows/ci.yaml
  e2e/package.json
Labels: devops

fix: some things
  .github/workflows/ci.yaml
  crates/maudit/js/prefetch.ts
  crates/maudit/src/build/options.rs
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
  website/src/layout.rs
Labels: website, crt:maudit, devops

feat(prefetch): Add support for prerendering with spectulation rules (#90)
  .github/workflows/ci.yaml
  .sampo/changesets/bold-baroness-joukahainen.md
  .sampo/changesets/gallant-wavetamer-nyyrikki.md
  .sampo/changesets/noble-earl-ilmarinen.md
  Cargo.lock
  Cargo.toml
  benchmarks/md-benchmark/src/lib.rs
  benchmarks/overhead/src/lib.rs
  crates/maudit-cli/src/consts.rs
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/server.rs
  crates/maudit-cli/src/main.rs
  crates/maudit-cli/src/preview/server.rs
  crates/maudit-macros/src/lib.rs
  crates/maudit/js/prefetch.ts
  crates/maudit/src/build/options.rs
  e2e/.gitignore
  e2e/README.md
  e2e/fixtures/prefetch-prerender/Cargo.toml
  e2e/fixtures/prefetch-prerender/src/main.rs
  e2e/fixtures/prefetch-prerender/src/pages/about.rs
  e2e/fixtures/prefetch-prerender/src/pages/blog.rs
  e2e/fixtures/prefetch-prerender/src/pages/contact.rs
  e2e/fixtures/prefetch-prerender/src/pages/index.rs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
  e2e/tests/test-utils.ts
  e2e/tests/utils.ts
  e2e/tsconfig.json
  e2e/types.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/content/docs/prefetching.md
  website/src/layout.rs
  xtask/src/main.rs
Labels: website, crt:maudit, crt:cli, crt:macros, devops

chore: update deps
  Cargo.lock
  Cargo.toml
  benchmarks/realistic-blog/Cargo.toml
  crates/maudit-cli/Cargo.toml
  crates/maudit/Cargo.toml
  crates/maudit/src/content/markdown/components.rs
  examples/blog/Cargo.toml
  examples/library/Cargo.toml
  website/Cargo.toml
  xtask/Cargo.toml
Labels: website, examples, crt:maudit, crt:cli

fix: something weird but I guess I won't ask
  crates/maudit/src/build.rs
  e2e/tests/utils.ts
  xtask/src/main.rs
Labels: crt:maudit

chore: update deps (#92)
  Cargo.lock
  Cargo.toml
  benchmarks/realistic-blog/Cargo.toml
  crates/maudit-cli/Cargo.toml
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown/components.rs
  e2e/tests/utils.ts
  examples/blog/Cargo.toml
  examples/library/Cargo.toml
  website/Cargo.toml
  xtask/Cargo.toml
  xtask/src/main.rs
Labels: website, examples, crt:maudit, crt:cli

fix: don't publish test fixtures
  e2e/fixtures/prefetch-prerender/Cargo.toml
Labels: none

fix: workspace
  .sampo/config.toml
  e2e/fixtures/prefetch-prerender/Cargo.toml
  e2e/tests/test-utils.ts
Labels: none

fix: some assets error handling and tests
  Cargo.lock
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/errors.rs
  crates/maudit/src/routing.rs
  e2e/fixtures/hot-reload/Cargo.toml
  e2e/fixtures/hot-reload/src/main.rs
  e2e/fixtures/hot-reload/src/pages/index.rs
  e2e/tests/hot-reload.spec.ts
  e2e/tests/prefetch.spec.ts
  e2e/tests/prerender.spec.ts
  e2e/tests/test-utils.ts
  package.json
Labels: crt:maudit

fix: remove unused function
  crates/maudit/src/assets/image.rs
Labels: crt:maudit

fix: update docs and article
  website/content/docs/images.md
  website/content/news/2026-in-the-cursed-lands.md
Labels: website

fix: better test
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
Labels: crt:maudit

feat: smoother hot reload
  Cargo.lock
  Cargo.toml
  crates/maudit-cli/Cargo.toml
  crates/maudit-cli/src/dev.rs
  crates/maudit-cli/src/dev/build.rs
  crates/maudit-cli/src/dev/dep_tracker.rs
Labels: crt:cli

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile
