Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile

feat: try async writes
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/build.rs
  examples/blog/src/pages/article.rs
Labels: examples, crt:maudit

feat(markdown): Support for custom components
  crates/maudit/src/content.rs
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

fix: remove example
  crates/maudit/src/content/components.rs
Labels: crt:maudit

remove handles
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
  example_new_api.rs
Labels: crt:maudit

fix: use different structs
  crates/maudit/src/content.rs
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

fix: don't run components if there's none
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: options
  benchmarks/md-benchmark/src/lib.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/lib.rs
  crates/oubli/src/lib.rs
  examples/blog/src/main.rs
  website/src/content.rs
Labels: website, examples, crt:maudit, crt:oubli

fix: no idea what I'm doing
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

fix: import
  crates/maudit/src/content/markdown.rs
  website/content/docs/index.md
  website/content/docs/quick-start.md
  website/content/docs/styling.md
Labels: website, crt:maudit

fix: refactor
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

fix: move tests
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

fix: move tests
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/highlight.rs
Labels: crt:maudit

fix: enum for blockquotes
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

fix: link types
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: add everything else
  crates/maudit/src/content/components.rs
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: example
  Cargo.lock
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  examples/markdown-components/Cargo.toml
  examples/markdown-components/content/showcase.md
  examples/markdown-components/src/components.rs
  examples/markdown-components/src/main.rs
  examples/markdown-components/src/pages.rs
Labels: examples, crt:maudit

fix: some cleanup
  crates/maudit/src/content/markdown/components.rs
  example_new_api.rs
  examples/markdown-components/content/showcase.md
  examples/markdown-components/src/components.rs
  examples/markdown-components/src/pages.rs
  examples/markdown-components/src/style.css
Labels: examples, crt:maudit

fix: simplify heading example
  examples/markdown-components/src/components.rs
Labels: examples

fix: comments
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  website/src/pages/news.rs
Labels: website, crt:maudit

feat(markdown): Support for custom components (#17)
  Cargo.lock
  benchmarks/md-benchmark/src/lib.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/highlight.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/lib.rs
  crates/oubli/src/lib.rs
  examples/blog/src/main.rs
  examples/markdown-components/Cargo.toml
  examples/markdown-components/content/showcase.md
  examples/markdown-components/src/components.rs
  examples/markdown-components/src/main.rs
  examples/markdown-components/src/pages.rs
  examples/markdown-components/src/style.css
  website/content/docs/index.md
  website/content/docs/quick-start.md
  website/content/docs/styling.md
  website/src/content.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli

fix: restore default heading behavior when not using components
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

perf(markdown): Avoid clone when using components
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: try to do markdown components in a single pass
  crates/maudit/src/content/markdown.rs
Labels: crt:maudit

feat: do it fully in one pass
  crates/maudit/src/content/markdown.rs
  examples/markdown-components/src/components.rs
  website/content/news/maudit01.md
Labels: website, examples, crt:maudit

feat: try to do markdown components in a single pass (#19)
  crates/maudit/src/content/markdown.rs
  examples/markdown-components/src/components.rs
  website/content/news/maudit01.md
Labels: website, examples, crt:maudit

perf: try to clean up in a separate thread
  benchmarks/md-benchmark/profile.json.gz
  crates/maudit/src/build.rs
Labels: crt:maudit

chore: gitignore benchmarks
  .gitignore
  benchmarks/md-benchmark/profile.json.gz
Labels: devops

fix: make cleaning optional
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

refactor: rename option
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

perf: try to clean up in a separate thread (#20)
  .gitignore
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit, devops

perf: update benchmarks
  Cargo.lock
  benchmarks/md-benchmark/Cargo.toml
  benchmarks/md-benchmark/README.md
  benchmarks/md-benchmark/benches/build.rs
  benchmarks/md-benchmark/src/page.rs
  website/content/news/maudit01.md
  website/static/01-performance.png
Labels: website

fix: readme badge links
  README.md
Labels: none

feat(content): Add support for resolving assets in content
  benchmarks/md-benchmark/src/page.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/page.rs
  crates/oubli/src/archetypes/blog.rs
  examples/blog/src/pages/article.rs
  examples/blog/src/pages/index.rs
  examples/markdown-components/src/pages.rs
  examples/oubli-basics/src/pages/index.rs
  website/content/news/01-performance.png
  website/content/news/maudit01.md
  website/src/layout/docs_sidebars.rs
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli

fix: tset
  crates/maudit/src/content/markdown.rs
  website/src/layout/docs_sidebars.rs
Labels: website, crt:maudit

feat(content): Add support for resolving assets in content (#21)
  benchmarks/md-benchmark/src/page.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/content/markdown/components.rs
  crates/maudit/src/page.rs
  crates/oubli/src/archetypes/blog.rs
  examples/blog/src/pages/article.rs
  examples/blog/src/pages/index.rs
  examples/markdown-components/src/pages.rs
  examples/oubli-basics/src/pages/index.rs
  website/content/news/01-performance.png
  website/content/news/maudit01.md
  website/src/layout/docs_sidebars.rs
  website/src/pages/docs.rs
  website/src/pages/news.rs
Labels: website, examples, crt:maudit, crt:oubli

feat: 0.3.1
  Cargo.lock
  README.md
  crates/maudit-cli/Cargo.toml
  crates/maudit/Cargo.toml
  crates/maudit/README.md
  crates/maudit/src/lib.rs
  crates/oubli/Cargo.toml
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/markdown-components/Cargo.toml
  examples/markdown-components/content/showcase.md
  website/content/news/maudit01.md
Labels: website, examples, crt:maudit, crt:oubli, crt:cli

feat: 0.3.2
  Cargo.lock
  crates/maudit-macros/Cargo.toml
  crates/maudit/Cargo.toml
Labels: crt:maudit, crt:macros

fix(bundling): Set proper module types for various assets
  crates/maudit/src/build.rs
Labels: crt:maudit

feat: rework Tailwind as a Rolldown plugin
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/lib.rs
  examples/kitchen-sink/src/pages/dynamic.rs
  examples/kitchen-sink/src/pages/endpoint.rs
  examples/kitchen-sink/src/pages/index.rs
  website/src/layout.rs
Labels: website, examples, crt:maudit

chore: some todos
  crates/maudit/src/assets.rs
Labels: crt:maudit
