Repository bruits/maudit, changes with the labels that .github/labeler.yml gives for each.
All labels: website, examples, crt:maudit, crt:oubli, crt:cli, crt:macros, crt:benchmarks, devops

fix: revert release
  .sampo/changesets/cantankerous-queen-aurelien.md
  .sampo/changesets/majestic-seer-vipunen.md
  .sampo/changesets/noble-count-ilmatar.md
  .sampo/config.toml
  Cargo.lock
  crates/maudit-cli/CHANGELOG.md
  crates/maudit-cli/Cargo.toml
  crates/maudit/CHANGELOG.md
  crates/maudit/Cargo.toml
  crates/oubli/CHANGELOG.md
  crates/oubli/Cargo.toml
Labels: crt:maudit, crt:oubli, crt:cli

fix: bump examples
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/library/Cargo.toml
  examples/markdown-components/Cargo.toml
  examples/runtime-to-the-max/Cargo.toml
Labels: examples

fix: revert Tailwind fix
  .sampo/changesets/steadfast-guardian-ilmatar.md
  crates/maudit/src/assets.rs
Labels: crt:maudit

fix: remove tailwind test
  crates/maudit/src/assets.rs
Labels: crt:maudit

feat: bump examples
  examples/basics/Cargo.toml
  examples/blog/Cargo.toml
  examples/empty/Cargo.toml
  examples/image-processing/Cargo.toml
  examples/kitchen-sink/Cargo.toml
  examples/library/Cargo.toml
  examples/markdown-components/Cargo.toml
  examples/runtime-to-the-max/Cargo.toml
Labels: examples

refactor: pass contentsources directly to pages instead of using a wrapper
  crates/maudit/src/build.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/route.rs
  examples/library/src/build.rs
Labels: examples, crt:maudit

fix: update docs on library
  examples/library/src/build.rs
  website/content/docs/library.md
Labels: website, examples

refactor: pass contentsources directly to pages instead of using a wrapper (#64)
  crates/maudit/src/build.rs
  crates/maudit/src/content.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/route.rs
  examples/library/src/build.rs
  website/content/docs/library.md
Labels: website, examples, crt:maudit

fix: i knew this would happen
  website/src/routes/index.rs
Labels: website

fix: generate proper urls depending on trailing slashes
  crates/maudit/src/route.rs
Labels: crt:maudit

feat(assets): Make it possible to configure the location of the assets cache
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

refactor: make ImageCache less weird
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
Labels: crt:maudit

fix: pass cache as param
  crates/maudit/src/assets.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  examples/library/src/build.rs
Labels: examples, crt:maudit

fix: neat
  crates/maudit-cli/src/init.rs
Labels: crt:cli

fix: oops
  crates/maudit-cli/src/init.rs
Labels: crt:cli

feat: make ImageCache mutex and Arc internal
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  website/content/docs/library.md
Labels: website, crt:maudit

fix: do cli change differently
  crates/maudit-cli/src/init.rs
Labels: crt:cli

chore: changeset
  website/.sampo/changesets/bold-prince-tursas.md
Labels: website

feat(assets): Make it possible to configure the location of the assets cache (#68)
  crates/maudit-cli/src/init.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/assets/image_cache.rs
  crates/maudit/src/build.rs
  crates/maudit/src/build/options.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  examples/library/src/build.rs
  website/.sampo/changesets/bold-prince-tursas.md
  website/content/docs/library.md
Labels: website, examples, crt:maudit, crt:cli

fix: changeset
  .sampo/changesets/bold-prince-tursas.md
Labels: none

fix(website): Improve tablet styling
  Cargo.lock
  website/assets/prin.css
  website/src/layout.rs
Labels: website

fix(website): Ensure Charter is used on Windows
  website/assets/fonts/charter_regular.woff2
  website/assets/prin.css
Labels: website

fix: just normalize urls and paths instead of supporting everything
  crates/maudit/src/route.rs
Labels: crt:maudit

nit: add comment about per-route trailing slash
  crates/maudit/src/route.rs
Labels: crt:maudit

chore: changeset
  .sampo/changesets/venerable-lord-goulven.md
Labels: none

fix: generate proper urls depending on trailing slashes (#66)
  .sampo/changesets/venerable-lord-goulven.md
  crates/maudit/src/route.rs
Labels: crt:maudit

feat(assets): Make assets safer to use
  benchmarks/realistic-blog/src/layout.rs
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/errors.rs
  examples/basics/src/routes/index.rs
  examples/image-processing/src/routes/index.rs
  examples/kitchen-sink/src/routes/dynamic.rs
  examples/kitchen-sink/src/routes/endpoint.rs
  examples/kitchen-sink/src/routes/index.rs
  examples/library/src/routes/index.rs
  examples/oubli-basics/src/routes/index.rs
  website/src/layout.rs
  website/src/layout/header.rs
Labels: website, examples, crt:maudit

fix: cleanup
  benchmarks/realistic-blog/src/layout.rs
  benchmarks/realistic-blog/src/routes/article.rs
  benchmarks/realistic-blog/src/routes/index.rs
  crates/maudit/src/assets.rs
  crates/maudit/src/errors.rs
  website/src/layout.rs
Labels: website, crt:maudit

fix: unchecked methods
  crates/maudit/src/assets.rs
Labels: crt:maudit

fix: the initial issue I was there for in the first place lol
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets/image.rs
  crates/maudit/src/build.rs
  crates/maudit/src/route.rs
  crates/maudit/target/maudit_cache/images/manifest
Labels: crt:maudit

nit: remove unrelated stuff
  .gitignore
  crates/maudit/target/maudit_cache/images/manifest
Labels: crt:maudit, devops

fix: update docs
  benchmarks/realistic-blog/src/layout.rs
  website/content/docs/images.md
  website/content/docs/javascript.md
  website/content/docs/styling.md
Labels: website

chore: changeset
  .sampo/changesets/cantankerous-duchess-ahti.md
  .sampo/changesets/valiant-lady-ilmarinen.md
Labels: none

feat(assets): Make assets safer to use (#72)
  .gitignore
  .sampo/changesets/cantankerous-duchess-ahti.md
  .sampo/changesets/valiant-lady-ilmarinen.md
  Cargo.lock
  benchmarks/realistic-blog/src/layout.rs
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
  crates/maudit/src/assets/image.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown.rs
  crates/maudit/src/errors.rs
  crates/maudit/src/route.rs
  examples/basics/src/routes/index.rs
  examples/image-processing/src/routes/index.rs
  examples/kitchen-sink/src/routes/dynamic.rs
  examples/kitchen-sink/src/routes/endpoint.rs
  examples/kitchen-sink/src/routes/index.rs
  examples/library/src/routes/index.rs
  examples/oubli-basics/src/routes/index.rs
  website/content/docs/images.md
  website/content/docs/javascript.md
  website/content/docs/styling.md
  website/src/layout.rs
  website/src/layout/header.rs
Labels: website, examples, crt:maudit, devops

fix(tailwind): Throw proper errors in the Rolldown Tailwind plugin
  crates/maudit/src/assets/tailwind.rs
Labels: crt:maudit

chore: changeset
  .sampo/changesets/doughty-iceseeker-vainamoinen.md
Labels: none

fix(tailwind): Throw proper errors in the Rolldown Tailwind plugin (#74)
  .sampo/changesets/doughty-iceseeker-vainamoinen.md
  crates/maudit/src/assets/tailwind.rs
Labels: crt:maudit

fix(assets): Also use a relative image path for cached assets
  .sampo/changesets/bold-guardian-lemminkainen.md
  crates/maudit/src/build.rs
Labels: crt:maudit

perf(assets): Improve hashing performance
  .sampo/changesets/jovial-thunderbearer-kullervo.md
  Cargo.lock
  crates/maudit/Cargo.toml
  crates/maudit/src/assets.rs
Labels: crt:maudit

feat(routing): Add support for route variants to power i18n
  Cargo.lock
  crates/maudit-macros/src/lib.rs
  crates/maudit/src/build.rs
  crates/maudit/src/content/markdown/shortcodes_tests.rs
  crates/maudit/src/route.rs
  crates/maudit/src/routing.rs
  examples/i18n/.gitignore
  examples/i18n/Cargo.toml
  examples/i18n/README.md
  examples/i18n/src/layout.rs
  examples/i18n/src/main.rs
  examples/i18n/src/routes/about.rs
  examples/i18n/src/routes/articles.rs
  examples/i18n/src/routes/index.rs
  examples/i18n/src/routes/mixed.rs
  examples/i18n/src/routes/mod.rs
  examples/library/src/build.rs
Labels: examples, crt:maudit, crt:macros

.github/labeler.yml:

# See https://github.com/actions/labeler
website:
  - changed-files:
      - any-glob-to-any-file: website/**

examples:
  - changed-files:
      - any-glob-to-any-file: examples/**

"crt:maudit":
  - changed-files:
      - any-glob-to-any-file: crates/maudit/**

"crt:oubli":
  - changed-files:
      - any-glob-to-any-file: crates/oubli/**

"crt:cli":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-cli/**

"crt:macros":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-macros/**

"crt:benchmarks":
  - changed-files:
      - any-glob-to-any-file: crates/maudit-md-benchmarks/**

devops:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - .vscode/**
          - .zed/**
          - .editorconfig
          - .gitignore
          - justfile
